@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CloudMockApi</h1>
    <p class="lead">CloudMockApi - one cloud API mocking service, to rule them all!</p>
    <p><a href="http://aka.net/CloudMockApi" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Column 1 title</h2>
        <p>
            Column 1 text
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Column 2 title</h2>
        <p>Column 2 text paragraph 1</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Column 3 title</h2>
        <p>Column 3 text paragraph 1</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>